<%= simple_form_for(@belief) do |f| %>
  <% if @belief.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@belief.errors.count, "error") %> prohibited this belief from being saved:</h2>

      <ul>
      <% @belief.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :issue, for: 'belief_issue_id' %><br>
    <%= f.association :issue, include_blank: false, label: false %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :explanation %><br>
    <%= f.text_area :explanation %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
